app.namespace=https://mapache-search-f20-7pm-a.herokuapp.com
app.admin.emails=phtcon@ucsb.edu,joywang@ucsb.edu
app.member.hosted-domain=ucsb.edu

auth0.domain=cs156-f20-7pm-a.us.auth0.com
auth0.clientId=hTM6vv1KY0DEnZkOsuDjUI6JeT9bXoR1

security.oauth2.resource.id=${app.namespace}/api
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json

spring.data.mongodb.uri=mongodb+srv://readOnlyA:<5ebrs7X4aI2rDoXz>@cluster0.6bwgb.mongodb.net/slack?retryWrites=true&w=majority
